.App {
  text-align: center;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card h4 {
  margin: 10px 0;
}

.details-link {
  color: #007bff;
  text-decoration: none;
}
